:root {

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-5: 20px;
  --spacing-6: 24px;

  --font-xxs: 12px;
  --font-xs: 16px;
  --font-sm: 25px;
  --font-md: 30px;
  --font-lg: 35px;
  --font-xl: 40px;
  --font-xxl: 50px;

  --weight-500 : 500;
  --weight-400 : 400;
  --weight-300 : 300;


  --purple : #9155fe;
  --purple-300 : #e4d5ff;
  --color-light: #f4f5fa;
  --white : #fff;
}
$bg-light: var(--color-light);
$primary : var(--purple);
$fw-500 : 500;
$fw-400 : 400;
$fw-300 : 300;

// imports
@import "mixins.scss";
@import "sidebar.scss";
@import "main.scss";

// Vuetify overrides
.font-h1 {
  font-size: var(--font-xxl);
}
.font-h2 {
  font-size: var(--font-xl);
}
.font-h4 {
  font-size: var(--font-md);
  line-height: calc(var(--font-md) + 2px);
}
.font-h5 {
  font-size: var(--font-sm);
}
.font-h6 {
  font-size: var(--font-xs);
}
.font-xs {
  font-size: var(--font-xxs);
}


.fw-500{
  font-weight: 500;
}
.fw-400{
  font-weight: 400;
}
.fw-300{
  font-weight: 300;
}
